{% extends "layout.njk" %}

{% block head %}
    <title>Inicio Desafio</title>
    <link rel="stylesheet" href="styles2.css">
    <!--Aqui o head foi definido, logo, o padrão não aparecerá-->
{% endblock %}

{% block conteudo %}

<div class ="PagSobre" id = "{{inicio.id}}">
        <img src="C:\Users\danie\Documents\JavaScript\desafio2\visualiza\logo.png" alt="Logo_rocketseat">
        <h1>{{inicio.title}}</h1>
        <p>{{inicio.description}}</p>
        <h2>{{inicio.title2}}</h2>
        <ul>
            <li>{{inicio.topic1}}</li>
            <li>{{inicio.topic2}}</li>
            <li>{{inicio.topic3}}</li>
            <li>{{inicio.topic4}}</li>
        </ul>
</div>

<div id = "Mudar" class = "links">
        {% for link in inicio.links %}
            <a href = "{{link.url}}" target="_blank">{{link.name}}</a>
        {% endfor %}
</div>

{% endblock %}