<!DOCTYPE html>

<html>

{% block head %}
    <title>Padrão Desafio</title>
    <link rel="stylesheet" href="/styles2.css">
    <!--Caso nas outras páginas não tenha o head definido, o que irá aparecer será esse padrão-->
{% endblock %}


</head>

<body>
    <header>
        <div class="links">
            <a href="/">Início</a>
            <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Comunidade</a>
            <a href="mailto: oi@rocketseat.com.br">Fale Conosco</a>
            <a href="Tel: +5547992078767">Telefone</a>
            <a href="/portfolio">Conteúdos</a>
        </div>
    </header>

    {% block conteudo %} {% endblock %}
</body>

</html>