{% extends "layout.njk" %}

{% block head %}
    <title>ERROR 404</title>
    <link rel="stylesheet" href="styles2.css">
    <!--Aqui o head foi definido logo o padrão não aparecerá-->
{% endblock %}

{% block conteudo %}
<div class="mensagemErro">
    <p>PÁGINA NÃO ENCONTRATADA (ERROR 404)</p>
</div>

{% endblock %}