{% extends "layout.njk" %}

{% block head %}

<link rel="stylesheet" href="/styles2.css">

<title>{{item.title}}</title>

<!--Aqui o head foi definido logo o padrão não aparecerá-->

{% endblock%}

{% block conteudo%}

<div id="ParteDoBlog">
    <h1>{{item.title}}</h1>
</div>

<section class="cartao">
    <div id="{{item.id}}" class="card pagina">
        <div class="card_conteudo_imagens iframe">
            <iframe scr="https://blog.rocketseat.com.br/{{item.id}}/" frameborder="0"></iframe>
        </div>

        <div class="card_titulo_do_card">
            <p>{{item.title}}</p>

        </div>

        <div class="card_autor">
            <p>{{item.author}}</p>
            <p class="card_tempoLeitura">{{item.minutes}}</p>
        </div>
    </div>
</section>   
{% endblock %}

